# Node.js dependencies
node_modules/

# TypeScript output
dist/

# Log files
*.log

# .env file for sensitive information
.env

# npm-debug.log
npm-debug.log*

# VSCode settings
.vscode/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db