/* Navbar styles */
.navbar {
  font-family: 'OPPO', serif;
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 100px;
}

.navList {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 30px;
  margin-left: -80px;
}

.navItem {
  margin: 0 15px;
}

.navItem a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
  user-select: none;
}

.navItem a:hover {
  color: #ffcc00;
}

.logo {
  position: relative;
  /* left: -80px; */
  font-size: 20px;
  font-weight: 100;
  color: white;
  /* margin-left: 100px; */
  transition: color 0.3s ease, opacity 0.3s ease;  /* Thêm hiệu ứng opacity */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  user-select: none;

}

.logoImage {
  width: 80px;
  height: 80px;
  height: auto;
  transition: opacity 0.3s ease;
  border-radius: 50%;
}

.logo:hover {
  opacity: 0.8;
}

.logo:hover .logoImage {
  opacity: 0.8;
}

.navList2 {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* margin-right: 100px; */
  /* padding: 0 100px 0 0; */
  gap: 30px;
}

.service{
  cursor: pointer;
}