@font-face {
  font-family: 'iCielBeCool';
  src: url('../../../public/fonts/iCielBeCool-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OPPO';
  src: url('../../../public/fonts/OPPOSans-VN-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BRAMS';
  src: url('../../../public/fonts/Brams-K7DWW.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
  height: 2100px;
  background-color: #000000;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
  position: relative;
  font-family: 'Almendra', serif;
}

.containerWelcome {
  font-family: Arial, sans-serif;
  color: white;
  height: 800px;
  background-image: url('../../../public/banner1.png');  /* Sử dụng đường dẫn từ thư mục public */
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
}

.containerOurInfor{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 1300px;
  background-size: contain;
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 1000px;
  width: 100%;
}

.footer{
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px
}

.containerHead{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 1000px;
  width: 100%;
  overflow: hidden;
}

.infor{
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 500px;
  width: 43%;
  margin-top: 100px;
  margin-left: 100px;
  /* background-color: aqua; */
}

.infor1{
  font-family: 'iCielBeCool', serif;
  font-size: 28px;
  color: #f0dc9c;
  font-weight: bold;
  text-shadow: #000000 0px 0px 10px;
}

.infor2{
  font-family: 'OPPO', serif;
  font-size: 32px;
  color: white;
  margin-top: 15px;
}

.infor3{
  font-family: 'OPPO', serif;
  font-size: 18px;
  color: white;
  margin-top: 20px;
  text-align: justify;
}

.logo{
  height: 450px;
  width: 43%;
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.logo img {
  animation: rotateImage 60s linear infinite; 
  transition: filter 0.5s ease;
}

.logo img:hover {
  filter: brightness(1.5);
}

@keyframes rotateImage {
  0% {
    transform: rotate(0deg);
    border-radius: 50%;
  }
  100% {
    transform: rotate(360deg);
    border-radius: 50%;
  }
}

.containerOurInfor h1{
  font-family: 'OPPO', serif;
  font-size: 23px;
  color: white;
  margin-top: 100px;
  font-weight: bold;
  text-shadow: #000000 0px 0px 10px;
}

.listBox{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  width: 90%;
  gap: 30px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 30%;
  height: 250px;
  background-image: url('../../../public/box.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 40px;
  border: 2px solid white;
  box-shadow: 0 0 10px 5px rgba(243, 255, 82, 0.3);
  transition: box-shadow 0.3s ease, background-color 0.3s ease; /* Thêm transition để tạo hiệu ứng mượt */
}

.box:hover {
  box-shadow: 0 0 20px 10px rgba(169, 168, 94, 0.3);
  cursor: pointer;
}

.box::after {
  content: '';
  position: absolute;
  border-radius: 40px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.);
  transition: background-color 0.3s ease;
}

.box:hover::after {
  background-color: rgba(100, 100, 100, 0.1);
}

.headBox{
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-family: 'OPPO', serif;
  color: #f0dc9c;
  text-shadow: #000000 0px 0px 10px;
}

.contentBox{
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 5px;
  margin-top: 25px;
  margin-left: 10px;
  font-size: 16px;
  font-family: 'OPPO', serif;
  color: white;
  text-shadow: #000000 0px 0px 10px;
}

.inforFooter{
  width: 90%;
  height: 400px;
  font-size: 20px;
  text-align: justify;;
  color: white;
  font-family: 'OPPO', serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.leftInforFooter{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightInforFooter{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageJump{
  width: 300px;
}

.imageJump {
  animation: moveUpDown 3s infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.hr{
  height: 1px;
  width: 100%;
  background-color: white;
}

.leftPanel{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.titleLeftFooter{
  color: white;
  text-align: center;
  font-family: 'OPPO', serif;
  margin-top: 10px;
}

.logoFooter{
  width: 120px;
  height: 120px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.descriptionLeftFooter{
  font-family: 'OPPO', serif;
  color: white;
  text-align: center;
  font-family: 'OPPO', serif;
}

.rightPanel{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleRightPanel{
  color: white;
  font-family: 'OPPO', serif;
  margin-left: 50px;
  font-size: 20px;
  margin-top: 10px;
}

li{
  color: white;
  font-family: 'OPPO', serif;
  margin-bottom: 10px;
  font-size: 18px;
}

.logoFooter:hover{
  opacity: 0.5;
}

.imageEffect {
  transition: opacity 0.5s ease-in-out; /* Tạo hiệu ứng mượt mà */
}