.container {
  display: flex;
  flex-direction: column;
  height: 10000px;
  background-color: #000000;
  overflow-x: hidden;
  position: relative;
  font-family: 'Almendra', serif;
}

.containerWelcome {
  font-family: Arial, sans-serif;
  color: white;
  height: 130vh;
  background-image: url('../../../public/banner.png');  /* Sử dụng đường dẫn từ thư mục public */
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
}

/* Navbar styles */
.navbar {
  font-family: 'Almendra', serif;
  position: absolute;
  top: 0;
  width: 70rem;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
}

.navList {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.navItem {
  margin: 0 15px;
}

.navItem a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navItem a:hover {
  color: #ffcc00;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 150px;
  height: 100%;
  text-align: center;
  padding: 50px;
}

.titleBlack {
  font-family: 'Almendra', serif;
  font-size: 120px;  /* Kích thước chữ lớn hơn */
  font-weight: bold;
  color: black;  /* Màu đen cho chữ */
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);  /* Đổ bóng chữ */
  position: relative; /* Sử dụng position relative để giữ phần tử trong phạm vi của container */
  top: -10px; /* Đẩy phần tử titleBlack lên cao hơn 5px */
  left: 8px;
  z-index: 0;
  margin: 0;
  margin-bottom: 30px;
}

.title {
  font-family: 'Almendra', serif;
  font-size: 120px;
  font-weight: bold;
  background: -webkit-linear-gradient(0deg, #E4C396, #F3E6D4, #F9E0C2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.05);
  position: absolute;
  z-index: 1;
  margin: 0;
}


@font-face {
  font-family: 'WestminsterGotisch';
  src: url('../../../public/fonts/WESTG___.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.westmins{
  font-family: WestminsterGotisch;
  font-size: 120px;
}

.logo {
  font-size: 20px;
  font-weight: 100;
  color: white;
  margin-left: 20px;
  transition: color 0.3s ease, opacity 0.3s ease;  /* Thêm hiệu ứng opacity */
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logoImage {
  width: 40px;
  height: 40px;
  height: auto;
  margin-right: 10px;
  transition: opacity 0.3s ease;
}

.logo:hover {
  opacity: 0.8;
}

.logo:hover .logoImage {
  opacity: 0.8;
}

.smallTitle {
  font-family: 'Almendra', serif;
  font-size: 24px;
  font-weight: 400;
  color: white;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
  margin-top: -10px;
}

.number{
  font-size: 30px;
  position: relative;
  top: -2px;
  left: -2px;
}

.icon {
  width: 24px;
  height: 24px;
  margin: 0 8px;
}

.chosenButton {
  background: transparent;
  border-style: solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #E4C396, #F3E6D4, #F9E0C2);
  padding: 5px;
  position: relative;
  width: 350px;
  display: flex;
  justify-content: center;
}

.dropdownButton {
  font-family: 'Almendra', serif;
  width: 100%;
  padding: 20px;
  width: 345px;
  text-align: center;
  background: transparent;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #E4C396, #F3E6D4, #F9E0C2);
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.dropdownMenu {
  font-family: 'Almendra', serif;
  display: block; /* Hiển thị khi menu được mở */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #F9E0C2;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  z-index: 10;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdownMenu.show {
  display: block;
  opacity: 1; /* Độ mờ khi mở */
  transform: translateY(0); /* Vị trí khi mở */
}

.dropdownMenu li {
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  color: black;
}

.dropdownMenu li:hover {
  background-color: #E4C396;
  color: white;
}

.arrowIcon {
  width: 16px;
  height: 16px;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.arrowIcon.rotate {
  transform: rotate(180deg);
}

.chosenSecondButton{
  margin-top: 20px;
}

.processChosenCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.shuffleButton {
  font-family: 'Almendra', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px; /* Độ rộng */
  height: 100px; /* Chiều cao */
  background-color: #b0a69a; /* Màu nền */
  color: black; /* Màu chữ */
  font-weight: bold; /* Làm đậm chữ */
  border-radius: 50%; /* Để tạo hình tròn */
  border: none; /* Không có viền */
  cursor: pointer; /* Hiển thị con trỏ tay khi hover */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Hiệu ứng khi hover */
}

.shuffleButton:hover {
  background-color: #F3E6D4; /* Thay đổi màu nền khi hover */
  transform: scale(1.05); /* Phóng to nhẹ khi hover */
}

.shuffleButton button {
  font-family: 'Almendra', serif;
  font-size: 12px; /* Kích thước chữ */
  width: 90px; /* Độ rộng */
  height: 90px; /* Chiều cao */
  border-radius: 50%; /* Để tạo hình tròn */
  border: 2px solid black;
  background: none;
  color: black; /* Màu chữ */
  text-decoration: none; /* Không có gạch chân */
}

.shuffleListCard{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}